[submodule "llvm-project"]
	path = llvm-project
	url = https://github.com/XRPLF/llvm-project
[submodule "wasi-sdk"]
	path = wasi-sdk
	url = https://github.com/XRPLF/wasi-sdk
[submodule "hook-cleaner-c"]
	path = hook-cleaner-c
	url = https://github.com/XRPLF/hook-cleaner-c
[submodule "c2wasm-api/clang/includes"]
	path = c2wasm-api/clang/includes
	url = https://github.com/XRPLF/hook-macros
[submodule "guard-checker"]
	path = guard-checker
	url = git@github.com:RichardAH/guard-checker.git
