Checks: bugprone-*,-bugprone-narrowing-conversions,-bugprone-signed-char-misuse,hooks-*,misc-*,-misc-unused-parameters
CheckOptions:
  - key: bugprone-unused-return-value.CheckedFunctions
    value: etxn_burden;sto_subarray;sto_subfield;sto_validate
