Checks: bugprone-*,-bugprone-narrowing-conversions,-bugprone-signed-char-misuse,hooks-*,misc-*,-misc-unused-parameters
CheckOptions:
  - key: bugprone-unused-return-value.CheckedFunctions
    value: etxn_burden;fee_base;float_compare;float_divide;float_exponent;float_exponent_set;float_int;float_invert;float_mantissa;float_mantissa_set;float_mulratio;float_multiply;float_negate;float_one;float_set;float_sign;float_sign_set;float_sum;ledger_seq;sto_subarray;sto_subfield;sto_validate
